
Services/Shop.Microservicios/.vs/

Services/Shop.Microservicios/obj/

Services/Shop.Microservicios/Catalog.API/.vs/

Services/Shop.Microservicios/Catalog.API/Catalog.API/bin/

Services/Shop.Microservicios/Catalog.API/Catalog.API/obj/

Services/Shop.Microservicios/bin/
